<!-- layouts/shortcodes/linkcard.html -->
<div class="linkcard">
    <a target="{{ .Get "target" | default "_blank" }}" href="{{ .Get "url" }}" data-draft-node="block"
        data-draft-type="link-card" data-text="{{ .Get "title" }}" class="LinkCard new">
        <span class="LinkCard-contents">
            <span class="LinkCard-title">{{ .Get "title" | default "Loading..." }}</span>
        </span>
        <span class="LinkCard-image LinkCard-image--default">
            {{ if .Get "image" }}
            <img src="{{ .Get "image" }}" alt="{{ .Get "title" }}">
            {{ end }}
        </span>
    </a>
</div>


<style>
    .linkcard .LinkCard.new {
        position: relative;
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        width: 390px;
        min-height: 84px;
        border-radius: 8px;
        max-width: 100%;
        overflow: hidden;
        margin: 16px auto;
        padding: 12px 12px 9px 12px;
        background-color: #f8f8fa;
    }

    .linkcard .LinkCard.new,
    .linkcard .LinkCard.new:hover {
        text-decoration: none;
        border: none !important;
        color: inherit !important;
    }

    .linkcard .LinkCard.new .LinkCard-contents {
        display: block;
        flex: 1 1 auto;
        position: relative;
    }

    .linkcard .LinkCard.new .LinkCard-title {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 2px;
        color: #191B1F;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        -moz-box-orient: vertical;
        -moz-line-clamp: 1;
        -ms-box-orient: vertical;
        -ms-line-clamp: 1;
        box-orient: vertical;
        line-clamp: 1;
    }

    .linkcard .LinkCard.new .LinkCard-image {
        flex: 0 0 auto;
        background-color: #ebeced;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 60px;
        height: 60px;
        margin-left: 20px;
        object-fit: cover;
        border-radius: inherit;
        overflow: hidden;
    }

    .linkcard .LinkCard.new .LinkCard-image.LinkCard-image--default {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebeced;
        color: #c4c7ce;
    }

    .linkcard .LinkCard.new .LinkCard-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>