<!-- layouts/shortcodes/linkcard.html -->
<div class="linkcard">
    <a href="{{ .Get " url" }}" target="_blank" class="linkcard-link">
        <div class="linkcard-content">
            <a class="linkcard-title">{{ .Get "title" }}</a>
        </div>
    </a>
</div>

<style>
    .linkcard {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        margin: auto;
        transition: box-shadow 0.3s;
        width: 75%;
        height: 60%;
        text-align: center;
    }

    .linkcard:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .linkcard-link {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .linkcard-content {
        padding: 16px;
    }

    .linkcard-title {
        margin: 0;
        color: black;
        font-size: 1.5em;
    }

    .linkcard-description {
        margin: 8px 0 0;
        font-size: 1em;
        color: #666;
    }
</style>